page-busca-receitas {

	ion-searchbar {
		padding: 0 !important;
	}

	.accordion-list {
        background: color($colors, light);
        height: 100%;
    }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 4px;
    }
    .section-active {
        background: #113484;
    }

    .section-active ion-label, .section-active ion-icon{
      color: white;
    }
 
    .child {
        background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }
    input[type=file]{
        visibility: hidden
    }
}
