<!--
  Generated template for the BuscaReceitasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
      <button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
    </ion-buttons>
		<ion-title>
			{{title | separator}}
		</ion-title>
		<ion-buttons end>
			<button class="back" ion-button (click)="rootAdminHome()"><img src="assets/img/retornar.png"></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-md-3 col-12>
      	<ion-searchbar placeholder='Buscar' (ionInput)="onInput($event)" (ionCancel)="onInput($event)"></ion-searchbar>
      	<button ion-button full (click)="pushAdminReceitaPage('new')">CRIAR</button>
      	<button ion-button full (click)="importExcel()">IMPORTAR</button>
      </ion-col>

      <ion-col>
      	<ion-list class="accordion-list" no-lines>
          <!-- First Level -->
          <ion-item *ngFor="let item of information; let i = index" no-padding>
            <!-- Toggle Button -->
            <ion-list-header>
              <button ion-item (click)="toggleSection(i, item._id)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
                <ion-icon item-right name="arrow-dropdown" *ngIf="!item.open"></ion-icon>
                <ion-icon item-right name="arrow-dropup" *ngIf="item.open"></ion-icon>
                  {{ item.titulo }}
              </button>
            </ion-list-header>
            <ion-list *ngIf="item.children && item.open" no-lines>
              <div style="max-height: 400px; overflow-y: scroll;">
              <!-- Second Level -->
                <ion-item *ngFor="let child of item.children; let j = index">
                   <!-- Direct Add Button as Fallback -->
                  <ion-item *ngIf="!child.children" ion-item detail-none class="child-item" text-wrap>
                    <h2>{{ child.titulo }}</h2>
                    <ion-icon item-right name="arrow-dropright" style="margin-right:20px" (click)="pushAdminReceitaPage(child._id)"></ion-icon>
                    <ion-icon item-right name="close" style="color: red" (click)="removeItem(child._id, j, i)"></ion-icon>
                  </ion-item>
         
                </ion-item>
              </div>
            </ion-list>
            
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <input #fileInput type="file" (change)="uploadXls($event)" />
</ion-content>
