<!--
  Generated template for the AdminTagPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
    </ion-buttons>
    <ion-title *ngIf="tag">
    	{{tag.titulo}}
    	<ion-icon class="fa fa-exclamation" color="danger" *ngIf="isDifferent()"></ion-icon>
    </ion-title>
  	<ion-buttons end>
			<button class="back" ion-button navPop><img src="assets/img/retornar.png"></button>
		</ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<div *ngIf="tag">
		<ion-grid class="tag">
			<ion-row>
				<ion-col col-6>
					<ion-label class="bold" for="titulo">Título</ion-label>
					<ion-input type="text" [(ngModel)]="tag.titulo"></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-6>
					<ion-label class="bold" for="tipo">Tipo</ion-label>
					<ion-select [(ngModel)]="tag.tipo">
						<ion-option value="filho">filho</ion-option>
						<ion-option value="nacionalidade">nacionalidade</ion-option>
						<ion-option value="normal">normal</ion-option>
						<ion-option value="porcao_sugerida">porcao_sugerida</ion-option>
						<ion-option value="refeicao">refeicao</ion-option>
						<ion-option value="tempo_de_preparo">tempo_de_preparo</ion-option>
						<ion-option value="tipo_de_preparo">tipo_de_preparo</ion-option>
						<ion-option value="tipo_de_prato">tipo_de_prato</ion-option>
						<ion-option value="dificuldade">dificuldade</ion-option>
						<ion-option value="avaliacoes">avaliacoes</ion-option>
					</ion-select>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<ion-footer>
  <button ion-button color="primary" full (click)="createOrUpdateTag()">
  	Salvar &nbsp;
  	<i class="fa fa-floppy-o"></i>
	</button>
</ion-footer>
</ion-content>
