<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-title>Login</ion-title>
  	<ion-buttons end>
      <button class="back" ion-button navPop>
      	<img src="assets/img/retornar-primary.png">
      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<div class="login-form">		
		<form (ngSubmit)="login()">
		    <ion-item>
				<ion-input [(ngModel)]="user.email" type="email" name="email" placeholder="E-mail"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input [(ngModel)]="user.password" type="password" name="password" placeholder="Senha"></ion-input>
			</ion-item>
			<button type="submit" ion-button color="secondary-op">Entrar</button>
		</form>
		<ion-grid class="options">
			<ion-row>
				<ion-col col-6><button ion-button color="primary-op">Esqueci?</button></ion-col>
				<ion-col col-6><button ion-button color="primary-op" (click)="goRegister()">Registrar-se</button></ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
