<!--
  Generated template for the RefeicoesEscolhidas component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-list padding-horizontal>
	<ion-item *ngFor="let r of modelCardapioDia.refeicoes[refeicaoIndex].receitas; let i = index;">
		<ion-label (click)="receitaModal(r)" title="{{ r.titulo }}" tappable>
			{{ r.titulo }}
		</ion-label>
		<button class="alterarPorcao" clear ion-button item-right (click)="alterarPorcaoReceita(r)">
			<ion-label color="primary">{{ r.porcoes == undefined ? cardapio.porcoes : r.porcoes }}</ion-label>
			<ion-icon class="fa fa-user" color="secondary"></ion-icon>
		</button>
		<button class="remover" clear ion-button item-right (click)="removerReceita(r)">
			<ion-icon class="fa fa-times" color="secondary"></ion-icon>
		</button>
	</ion-item>
</ion-list>