<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-title>Cadastre-se</ion-title>
  	<ion-buttons end>
      <button class="back" ion-button (click)="pop()">
      	<img src="assets/img/retornar-primary.png">
      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<div class="content-wrapper">
		<div class="register-form">			
			<form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
				<ion-item>
					<ion-input type="text" formControlName="name" placeholder="Nome"></ion-input>
				</ion-item>
				<ion-item>
					<ion-input type="email" formControlName="email" placeholder="E-mail"></ion-input>
				</ion-item>
				<ion-item>
					<ion-input type="password" formControlName="password" placeholder="Senha"></ion-input>
				</ion-item>
				<ion-item class="termos">
					<ion-checkbox formControlName="termos"></ion-checkbox> 
					<ion-label>Aceito termos de uso</ion-label>
				</ion-item>
				<button type="submit" ion-button color="secondary-op" [disabled]="!registerForm.valid">Cadastrar</button>
			</form>
		</div>
	</div>
</ion-content>
