page-register {
	.header-md::after{
		background: initial !important;
	}
	ion-header {
		.toolbar{
			.toolbar-background{
				background-color: transparent !important;
				border: 0 !important;
			}
		}
	}
	ion-content{
		background: url(../assets/img/page-login-bg.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	}
	.register-form{
		text-align: center;
		display: block;
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		padding: 0 20px;
		button{
			max-width: 150px;
			width: 100%;
			color: color($colors, dark);
			text-transform: uppercase;
			font-size: 90%;
			font-weight: 600;
			&.item-cover{
				width: 100%;
			}
		}
		input{
			font-weight: 600;
		}
		.item-block{
			background-color: color($colors, dark-op) !important;
			width: 100%;
			max-width: 500px;
			color: #fff;
			padding: 0 15px !important;
			margin: 0.4rem auto;
			font-size: 90%;
			border-radius: 4px;
			.fa{
				line-height: 20px;
				margin: 8px 16px 8px 0;
			}
			.item-inner{
				border: 0 !important;
			}
		}
		.termos{
			&.item-block{
				text-align: center;
				color: color($colors, light);
				background-color: color($colors, dark-op) !important;
				ion-checkbox{
					button{
						max-width: initial;
					}
				}
			}
		}
		ion-grid{
			padding: 0 !important;
			button{
				padding: 0 !important;
				max-width: 150px;
				width: 100%;
			}
		}
	}
}
