<!--
	Generated template for the Filtros page.

	See http://ionicframework.com/docs/v2/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
				<button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
			</ion-buttons>
			<ion-title>Perfil</ion-title>    
			<ion-buttons end>
				<button class="back" ion-button (click)="rootHome()"><img src="assets/img/retornar.png"></button>
			</ion-buttons>
		</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list border-custom no-padding *ngIf="user">
		<ion-list-header>
			Dados
		</ion-list-header>
		<ion-item>
			<ion-label stacked>Nome</ion-label>
			<ion-input name="nome" value="{{ user.name }}" disabled></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>E-mail</ion-label>
			<ion-input name="email" disabled value="{{ user.email }}"></ion-input>
		</ion-item>
	</ion-list>
	<form *ngIf="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
		<ion-list  no-padding>
			<ion-list-header>
				Alterar senha
			</ion-list-header>
			<ion-item>
				<ion-label stacked>Senha atual</ion-label>
				<ion-input formControlName="password" type="password"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked>Nova senha</ion-label>
				<ion-input formControlName="newPassword" type="password"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label stacked>Repetir senha</ion-label>
				<ion-input formControlName="repeatNewPassword" type="password"></ion-input>
			</ion-item>
		</ion-list>
		<button ion-button color="secondary" type="submit" [disabled]="!resetPasswordForm.valid">Salvar</button>
	</form>	
</ion-content>
