refeicao-seletor{
	text-align: -webkit-center;
	.buttons{
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		align-content: center;
		text-align: -webkit-center;
		button{
			margin: 4px 0 !important;
	    max-height: 5.6rem !important;
	    min-height: 5.6rem !important;
		}
		ion-avatar{
			margin: 4px !important;
			max-width: 4.6rem !important;
	 		min-width: 4.6rem !important;
	 		max-height: 4.6rem !important;
	 		min-height: 4.6rem !important;
			border-radius: 0.4rem !important;
			background-color: color($colors, primary) !important;
			img{
				max-width: 4.6rem !important;
				min-width: 4.6rem !important;
				max-height: 4.6rem !important;
				min-height: 4.6rem !important;
			}
		}
	}
	.fa{
		font-size: 16px;
	}
	ion-label{
		margin: 0 !important;
		color: color($colors, cinza);
		font-size: 90%;
		font-weight: 600;
		text-align: center;
    text-transform: lowercase;		
	}
	.seletor{
		border-radius: 4px;
		border: $border-settings;
    position: absolute;
    width: 90%;
    background: #fff;
    z-index: 10;
    top: 95%;
    left: 5%;
		button{
			border-bottom: $border-settings;
			color: color($colors, cinza);
			margin: 0;
			padding: 20px;
			font-weight: 600;
			text-transform: lowercase;
			&:last-child{
				border-bottom: 0 !important;
			}
		}
	}
}
