<!-- Generated template for the RefeicaoSeletor component -->

<div class="refeicao" (swiperight)="alterarRefeicaoEmit(refeicao, -1)" (swipeleft)="alterarRefeicaoEmit(refeicao, 1)">
	<div class="buttons">						
		<button ion-button clear (click)="alterarRefeicaoEmit(refeicao, -1)">
			<ion-icon class="fa fa-chevron-left" color="secondary"></ion-icon>
		</button>
		<ion-avatar (click)="toggleSeletor()"> 
			<img src="assets/img/refeicoes/{{refeicao.icone}}">
		</ion-avatar>
		<button ion-button clear (click)="alterarRefeicaoEmit(refeicao, 1)">
			<ion-icon class="fa fa-chevron-right" color="secondary"></ion-icon>
		</button>
	</div>
	<ion-label (click)="toggleSeletor()" tappable>{{refeicao.titulo}}</ion-label>
	<button ion-button clear (click)="toggleSeletor()">
		<ion-icon class="fa" [class.fa-chevron-down]="!seletor" [class.fa-chevron-up]="seletor" color="secondary"></ion-icon>
	</button>
	<div class="seletor" *ngIf="seletor">
		<button ion-button *ngFor="let r of refeicoes" clear full (click)="alterarRefeicaoEmit(r, 0)">{{ r.titulo }}</button>
	</div>
</div>