page-avaliacoes {
	.segment-button{
		color: color($colors, primary) !important;
		text-transform: initial !important;
		text-align: left !important;
		font-size: 1.8rem !important;

		&.segment-activated{
			border-color: color($colors, secondary) !important;
		}
	}
}
