<!--
	Generated template for the Avaliacoes page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
			<button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
		</ion-buttons>
		<ion-title>Avaliações</ion-title>    
		<ion-buttons end>
			<button class="back" ion-button (click)="rootHome()"><img src="assets/img/retornar.png"></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-segment mode="md" [(ngModel)]="segment">
		<ion-segment-button value="receitas">
			 Receitas
		</ion-segment-button>
		<ion-segment-button disabled value="mercados" *ngIf="false">
			Mercados
		</ion-segment-button>
	</ion-segment>

	<div [ngSwitch]="receitas" *ngIf="receitas">
		<ion-list>
			<ion-item *ngFor="let r of receitas">
				{{ r.receita_id.titulo }}
			</ion-item>
		</ion-list>
	</div>
	<div [ngSwitch]="mercados" *ngIf="mercados">
		
	</div>

</ion-content>
