<!--
  Generated template for the ListaDetalhes page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>Detalhes lista</ion-title>
    <ion-buttons end>
      <button class="close" ion-button (click)="dismiss()"><ion-icon color="light" class="fa fa-times"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label stacked>Titulo</ion-label>
			<ion-input placeholder="Titulo" [(ngModel)]="lista.titulo"></ion-input>
		</ion-item>
		<ion-item *ngIf="lista.cardapio_id" (click)="pushCardapioPage(lista.cardapio_id)">
			<ion-label stacked>Cardapio base</ion-label>
			<ion-input disabled placeholder="Cardapio base" [(ngModel)]="lista.cardapio_id.titulo"></ion-input>
			<button ion-button item-right clear>
				<ion-icon class="fa fa-external-link" color="primary"></ion-icon>
			</button>
		</ion-item>
		<ion-item *ngIf="lista.createdAt">
			<ion-label stacked>Criado em</ion-label>
			<ion-datetime disabled item-right displayFormat="DD/MM/YYYY" [(ngModel)]="lista.createdAt"></ion-datetime>
		</ion-item>
	</ion-list>
</ion-content>
<ion-footer>
	<button ion-button (click)="dismiss()" color="secondary" full>OK</button>
</ion-footer>