page-cardapios {
	ion-list{
		ion-item{
	    	padding-left: 0 !important;
	    	&:first-child {
				border-top: 0 !important;
	    	}
	    	&:last-child{
				border-bottom: 0 !important;
	    	}
	    	ion-label{
		    	&[item-right]{
		    		text-align: right !important;
		    	}
		    	p{
		    		font-size: 1.2rem !important;
		    	}
	    	}
		}
	}
}
