<!--
	Generated template for the Cardapios page.

	See http://ionicframework.com/docs/v2/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
			<button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
		</ion-buttons>
		<ion-title>Meus Cardapios</ion-title>    
		<ion-buttons end>
			<button class="back" ion-button (click)="rootHome()"><img src="assets/img/retornar.png"></button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list border-custom no-padding *ngIf="cardapios">
		<ion-list-header>
			Cardapios ({{ cardapios.length }})
			<button class="add" item-right (click)="adicionarCardapio()" ion-button clear *ngIf="false">
				Novo cardápio
				<ion-icon class="fa fa-plus-circle" color="primary"></ion-icon>
			</button>			
		</ion-list-header>
		<ion-item *ngFor="let c of cardapios">
			<ion-label (click)="pushCardapioPage(c)">
				<h2>{{c.titulo}}</h2>
			</ion-label>
			<button *ngIf="false" class="edit" item-right ion-button (click)="editCardapioDetalhesModal(c)" clear>
				<ion-icon class="fa fa-pencil" color="primary"></ion-icon>
			</button>
			<button class="remove" item-right ion-button (click)="removeCardapio(c)" clear>
				<ion-icon class="fa fa-times" color="secondary"></ion-icon>
			</button>
		</ion-item>
		<ion-item *ngIf="!cardapios.length">
			Nenhum cardapio criado!
		</ion-item>
		<ion-item *ngIf="guest && cardapios.length == 1" (click)="registerPage()" tappable>
			<ion-label>
			Visitantes só podem ter um cardápio.
			<p>Cadastre-se para ter quantos cardápios quiser!</p>
		</ion-label>
		</ion-item>
	</ion-list>

	<ion-fab right bottom>
		<button ion-fab mini color="primary" (click)="adicionarCardapio()"><ion-icon class="fa fa-plus"></ion-icon></button>
	</ion-fab>
</ion-content>