<!--
	Generated template for the Filtros page.

	See http://ionicframework.com/docs/v2/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
      		<button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
    	</ion-buttons>
		<ion-title>
			Filtros
			<ion-icon class="fa fa-exclamation" color="danger" *ngIf="up.isDifferent(filtro, filtroClone)"></ion-icon>
		</ion-title>    
		<ion-buttons end>
			<button class="back" ion-button (click)="rootHome()">
				<img src="assets/img/retornar.png">
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-list>
		<ion-list-header>
			Filtros
			<button class="save" item-right (click)="updateFiltro()" ion-button clear [disabled]="up.isDifferent(filtro, filtroClone) ? null : true">
				Salvar filtro
				<ion-icon class="fa fa-floppy-o" color="primary"></ion-icon>
			</button>
		</ion-list-header>
	</ion-list>
	

	<div [ngSwitch]="segment" *ngIf="filtro && tipo_tags">
		<div id="preferencias" *ngSwitchCase="'preferencias'">
			<ion-list border-custom>
				<ion-item id="refeicao" *ngIf="filtro.preferencias.favoritos != undefined">
					<ion-label>
						Favoritos
					</ion-label>					
					<ion-toggle [(ngModel)]="filtro.preferencias.favoritos" name="favoritos" color="secondary"></ion-toggle>
				</ion-item>
				<ion-item id="refeicao" *ngIf="filtro.preferencias.refeicao != undefined">
					<ion-label>
						Filtrar por refeição
						<p>
							<small>Filtrar receitas pelas recomendações de almoço, jantar, etc</small>
						</p>
					</ion-label>					
					<ion-toggle [(ngModel)]="filtro.preferencias.refeicao" name="refeicao" color="secondary"></ion-toggle>
				</ion-item>
			</ion-list>
		</div>
		<filtro-campos 
			id="restricoes" 
			*ngSwitchCase="'restricoes'" 
			[tipo_tags]="tipo_tags" 
			[filtro]="filtro.restricoes">
		</filtro-campos>
	</div>
</ion-content>
<ion-footer>	
	<ion-segment mode="md" [(ngModel)]="segment" *ngIf="filtro && tipo_tags">
		<ion-segment-button value="restricoes">
			Restrições
		</ion-segment-button>
		<ion-segment-button value="preferencias">
			Preferências
		</ion-segment-button>
	</ion-segment>
</ion-footer>