page-filtros {
	ion-list{
		margin-bottom: 0 !important;
	}
	ion-item{
		padding-left: 0 !important;
		.item-inner{
			padding: 0 !important;
		}
		&.list-header{
			ion-label{
				font-weight: bold;
			    color: #113484;
			    font-size: 14px;
			}
		}
	}
	.segment-button{
		color: color($colors, primary) !important;
		text-transform: initial !important;
		border-bottom: 0 !important;
		text-align: center;
		border-top: rgba(0, 0, 0, 0.1) 5px solid !important;
		&.segment-activated{
			font-weight: bold;
			border-bottom: 0 !important;
			border-top: color($colors, secondary) 5px solid !important;
		}
	}
	#preferencias{
		#refeicao{
			ion-label{
				white-space: normal;
			}
		}		
	}
	[range-right].fa{
		min-height: 1.4em;
    	font-size: 1.4em;
	}
	ion-footer{
		background-color: color($colors, light);
	}
}
