refeicoes-escolhidas {
	ion-list{
		border: 0 !important;
		margin: 0 0  8px 0 !important;
		ion-item{
			font-size: 21px !important;
			line-height: 24px !important;
			padding: 0 !important;
			margin: 0 5px 0 0 !important;
			border: $border-settings !important; 
			border-right: 0 !important;
			display: inline-block !important;
			min-height: 24px !important;
			max-width: 240px !important; 
			width: initial !important;
			.item-inner{
				min-height: 24px;
				height: 24px;
				padding: 0 !important; 
				border: 0 !important;
				.input-wrapper{
					min-height: 24px;
					height: 24px;
					padding-left: 4px;
					padding-right: 10px;
				    position: relative;
				    z-index: 0;
				    display: inline-block;
				    overflow: hidden;
				    text-align: left;
				    text-overflow: ellipsis;
				    text-transform: none;
				    white-space: nowrap;
				    align-self: center;
				}
				ion-label{
					height: 24px;
					margin: 0;
					max-width: 120px;
					font-size: 14px !important;
					color: color($colors, dark);
				}
				button{
					border-radius: 0 !important;
					border-left: $border-settings !important;
					border-right: $border-settings !important;
					margin: 0 !important;
					padding: 0 .9em !important;
					&.alterarPorcao{
						border-left: $border-settings !important;
					}
					ion-label{
						font-size: 16px !important;
						height: 24px;
						margin-top: 5px;
					}
					ion-icon{
						padding: 0 5px;
						font-size: 16px;
						height: 24px;
						margin-top: 5px;
					}				
				}
			}
		}
	}	
}
