<!--
  Generated template for the RefeicoesEscolhidas component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-list padding-vertical *ngIf="refeicoesEscolhidas">
	<ion-item *ngFor="let r of refeicoesEscolhidas; let i = index;">
		<ion-label title="{{ r.titulo }}">
			{{ r.titulo }}
		</ion-label>
		<button class="remover" clear ion-button item-right (click)="remover(r, i)">
			<ion-icon class="fa fa-times" color="secondary"></ion-icon>
		</button>
	</ion-item>
</ion-list>
