<!--
  Generated template for the Receita page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="receita">{{receita.titulo}}</ion-title>
    <ion-buttons end>
      <button class="close" ion-button (click)="dismiss()"><ion-icon color="light" class="fa fa-times"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding *ngIf="receita">
	<div class="receita">
		<ion-card *ngIf="receita.icone">
			<img src="{{ENV.DOWNLOAD_PATH + receita.icone}}" alt="{{receita.titulo}}" />
		</ion-card>
		<ion-grid id="informacao" padding-horizontal>
			<ion-row>
				<ion-col col-4 id="adicionar" class="action">
					<button ion-button clear class="adicionar" (click)="dismiss(true)">
						<ion-label>Adicionar <br>ao cardápio</ion-label>
						<ion-icon color="secondary" class="fa fa-plus-circle active"></ion-icon>
					</button>
				</ion-col>
				<ion-col col-4 id="favoritos" class="action">
					<button ion-button clear class="action" (click)="updateFav()">
						<ion-label *ngIf="!favorito.active">Adicionar <br>aos favoritos</ion-label>
						<ion-label *ngIf="favorito.active">Remover <br>dos favoritos</ion-label>
						<ion-icon class="fa" [class.fa-star-o]="!favorito.active" [class.fa-star]="favorito.active" [class.active]="favorito.active"></ion-icon>
					</button>
				</ion-col>
				<ion-col col-4 id="like" class="action">
					<button ion-button clear class="action" (click)="updateLike()" *ngIf="like.likeData">
						<ion-label *ngIf="!like.likeData.active">Curtir</ion-label>
						<ion-label *ngIf="like.likeData.active">Descurtir</ion-label>
						<ion-label>
							<ion-icon class="fa fa-thumbs-up" [class.active]="like.likeData.active"></ion-icon>
							{{like.count}}
						</ion-label>
					</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-4 id="grau_de_dificuldade" class="info">
					<div *ngIf="receita.dificuldade">
						<ion-label>Dificuldade</ion-label>
						<gradacao [grau]="receita.dificuldade" [image]="'dificuldade'"></gradacao>
					</div>
				</ion-col>
				<ion-col col-4 id="tempo_de_preparo" class="info">
					<div *ngIf="receita.tempo_de_preparo">
						<ion-label>Tempo<br>de preparo</ion-label>
						<p>{{ receita.tempo_de_preparo }}</p>
					</div>	
				</ion-col>
				<ion-col col-4 id="rendimento" class="info">
					<div *ngIf="receita.rendimento">
						<ion-label>Porções<br>sugeridas</ion-label>
						<gradacao [grau]="receita.rendimento" [image]="'rendimento'"></gradacao>
					</div>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="receita.ingredientes" id="ingredientes" class="main-info">
				<ion-col>
					<h1>Ingredientes</h1>
					<ion-list>
						<ion-item *ngFor="let i of receita.ingredientes"> 
							<h3>{{ i.ingrediente }}</h3>
							<p>{{ i.porcao }} {{ i.unidade }} </p>
						</ion-item>
					</ion-list>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="receita.modo_de_preparo" id="modo_de_preparo" class="main-info">
				<ion-col>
					<h1>Modo de preparo</h1>
					<p [innerHTML]="receita.modo_de_preparo"></p>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="receita.informacoes_nutricionais" id="informacoes_nutricionais" class="main-info">
				<ion-col>
					<h1>{{ receita.informacoes_nutricionais.titulo }}</h1>
					<p [innerHTML]="receita.informacoes_nutricionais"></p>				
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>