page-receita {
	.fixed-content, .scroll-content{
		margin-top: 56px !important;
	}
	.receita{
		ion-col{
			padding-top: 0 !important;
			padding-bottom: 8px !important;
		}	
		#ingredientes, #modo_de_preparo{
			h1{
				color: color($colors, primary);
				font-size: 1.6rem !important;
			}
			h3{
				color: color($colors, dark);
				font-weight: bold;
			}
			p{
				color: color($colors, dark);
				font-size: 100%;
			}
		}
		.info{
			p{
				margin: 0 !important;
				text-align: center;
				color: color($colors, secondary);
			}
			ion-label{
				color: color($colors, primary );
				padding: 0 !important;
				text-align: center;
				margin: 0 0 5px 0;
				height: 2.4em !important;
			}
			ion-item{
				padding-left: 0;
				p{
					margin: 5px 0 0 0 !important;
					text-align: center;
				}
			}
			&#tempo_de_preparo{
				p{
					font-weight: bold;
				}
			}
			&#grau_de_dificuldade{
				ion-label{
					line-height: 2.4em !important
				}
			}
		}
		.action{
			button {
				padding: 0 !important;
				margin: 0 !important;
				width: 100%;
				height: 4.5em;
				span{
					flex-flow: column;
					height: initial !important;
					ion-icon{
						margin: 0 !important;
						font-size: 18px;
						color: color($colors, cinza);
						&.active{color: color($colors, secondary) !important;}
					}
					ion-label{
						margin: 0 !important;
						font-size: 1.4rem;
						text-transform: none;
						height: 2.4em !important;
					}
				}
				
			}
			&#like{
				ion-label{
					line-height: 2.4em;
				}
			}
		}
	}
	ul {
		padding: 0px;
		&.rating li {
			ion-icon{
				color: color($colors, secondary);
			}
		}
	}
}
