<!--
  Generated template for the CardapioDetalhes page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>Montar cardápio</ion-title>
    <ion-buttons end>
      <button class="close" ion-button (click)="dismiss()"><ion-icon color="light" class="fa fa-times"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
	<ion-list padding class="title-wrapper">
		<ion-item class="label">
			<ion-label stacked>Nome do cardápio</ion-label>
			<ion-input type="text" [(ngModel)]="cardapio.titulo"></ion-input>
		</ion-item>
	</ion-list>
	<ion-grid padding>
		<ion-row class="calendar-wrapper">
			<ion-col col-12 class="calendar-label">
				<ion-item>
					<ion-icon color="primary-light" class="fa fa-calendar" item-left></ion-icon>
					<ion-label>Selecione o período ou o número de dias de seu cardápio</ion-label>
				</ion-item>
			</ion-col>
			<ion-col col-7 class="datas-wrapper">
				<ion-list no-padding border-custom>
					<ion-item no-padding>
						<ion-label>De</ion-label>
						<ion-datetime 
							doneText="Ok" 
							cancelText="Cancelar" 
							displayFormat="DD MM YYYY" 
							(ionChange)="changeDate($event)" 
							[(ngModel)]="de"></ion-datetime>
					</ion-item>
					<ion-item no-padding>
						<ion-label>Até</ion-label>
						<ion-datetime 
							doneText="Ok" 
							cancelText="Cancelar" 
							displayFormat="DD MM YYYY" 
							(ionChange)="changeDate($event)" 
							[(ngModel)]="ate"></ion-datetime>
					</ion-item>
				</ion-list>
			</ion-col>
			<ion-col col-5 class="dias-wrapper">
				<ion-list no-padding>
					<ion-item no-padding class="dias">
						<ion-label stacked>Número de dias</ion-label>
						<ion-input (change)="diasCounterChange($event)" [(ngModel)]="cardapio.diasCounter" type="number"></ion-input> 
					</ion-item>
				</ion-list>
			</ion-col>
			<ion-col col-12 *ngIf="cardapio.diasCounter <= 0">
				<small ion-text color="danger">A primeira data deve ser menor que a segunda!</small>
			</ion-col>
		</ion-row>		
		<ion-row class="pessoas-wrapper">
			<ion-col col-7>				
				<ion-item>
					<ion-icon color="primary-light" class="fa fa-user" item-left></ion-icon>
					<ion-label>
						Selecione a quantidade padrão de porções
					</ion-label>
				</ion-item>				
			</ion-col>
			<ion-col col-5 class="pessoas-input-wrapper">
				<ion-item no-padding>
					<ion-input (ionFocus)="scrollToBottom()" [(ngModel)]="cardapio.porcoes" type="number" min="1" max="50" step="1"></ion-input>
				</ion-item>				
			</ion-col>
			<ion-col col-12 *ngIf="cardapio.porcoes == '' || cardapio.porcoes <= 0">
				<p>
					<small *ngIf="cardapio.porcoes == ''" ion-text color="danger">Preencha o número de porções.</small>
					<small *ngIf="cardapio.porcoes <= 0" ion-text color="danger">O número de porções deve ser maior que zero.</small>
				</p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
<ion-footer>
	<button ion-button (click)="dismiss(true)" [attr.disabled]="isValid()" color="secondary" full>OK</button>
</ion-footer>