page-cardapio-detalhes{
	input{
		padding: 0 !important;
	}
	ion-datetime{
		padding: 0 !important;
	}
	ion-list{
		&.title-wrapper{
			margin-bottom: 0 !important;
			.item{
				box-shadow: none !important;
				border-bottom: $border-settings !important;
				ion-label{
					text-transform: uppercase;
					color: color($colors, primary);
				}
			}
		}
		ion-item{
			border-top: none !important;
			padding-left: 7px !important;
		}
	}
	ion-grid{
		ion-row{
			&.pessoas-wrapper{
				border : 0 !important;
				.pessoas-label{
					ion-label{
						text-overflow: initial;
	    				white-space: initial;
					}
					.fa{font-size:30px;}
					.item-inner{border: 0 !important}
				}
				.item-inner, .item-block{
					border: 0 !important;					
					box-shadow: none !important;
				}
				.fa{font-size:32px;}
				input{
					text-align: center;
					font-size: 5.5rem;
					margin-right:0; 
					margin-left:0;
					width: 100%;
				}
				ion-label{
					text-overflow: initial;
    				white-space: initial;
				}
				ion-list{
					
					margin-bottom: 0;
					.item-inner{
						padding: 0 !important;
					}
				}
				.pessoas-input-wrapper{
					.item-inner{
						padding: 0 !important;
						padding-left: 8px !important;
					}
				}
			}
			&.calendar-wrapper{
				border-bottom: $border-settings;
				padding-bottom: 35px;
				.calendar-label{
					margin-bottom: 25px;
					ion-label{
						text-overflow: initial;
	    				white-space: initial;
					}
					.fa{font-size:30px;}
					.item-inner{border: 0 !important}
				}
				.item-inner{ 
					padding-right: 0 !important;
				}
				.datas-wrapper{
					ion-list{
						text-transform: uppercase;
						margin: 0 !important;
					}
				}
				.dias-wrapper{
					text-transform: uppercase;
					ion-list{
						margin: 0 !important;
						.item-block{
							border: 0 !important;	
						}
						ion-label{
							color: color($colors, primary);
							text-transform: uppercase;
							padding-top: 0;
							margin: 0 0 4px 0;
							text-align: center;
						}
						.item-inner{
							padding: 0 !important;
							padding-left: 8px !important;
						}
						.dias{
							padding: 0 !important;
							height: 100%;
							box-shadow: none !important;
							input{
								opacity: 1 !important;
								text-align: center;
								font-size: 5.5rem;
								margin-right:0;
								width: 100%;
								margin: 5px 0 4px !important;
							}
						}
					}
				}
			}
		}

	}
	ion-col{
		padding: 0 !important;
	}
}
