<!--
	Generated template for the AdminReceitas page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
      <button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
    </ion-buttons>
		<ion-title>
			Receitas
		</ion-title>
		<ion-buttons end>
			<button class="back" ion-button (click)="rootAdminHome()"><img src="assets/img/retornar.png"></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<h1>Receitas</h1>

	<admin-table *ngIf="items" 
		[items]="items"
		[options]="options"
		(setOptions)="setOptions($event)"
		(editItem)="pushAdminReceitaPage($event)"
		(removeItem)="removeItem($event)">
	</admin-table>
	<input #fileInput type="file" (change)="uploadXls($event)" />
</ion-content>
