<!--
  Generated template for the Index page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
    </ion-buttons>
    <ion-title>
    	<img src="assets/img/wisemenu-logo-menu.png" alt="Wisemenu">
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list class="main-menu" padding>
		<button id="{{m.id}}" clear item ion-button full (click)="m.callback()" *ngFor="let m of menu">
		    <ion-label>{{ m.title }}</ion-label>
		</button>
    <button id="publicidade" clear item ion-button full>
        <ion-label>Publicidade</ion-label>
    </button>
	</ion-list>
</ion-content>