page-home {
	ion-content{
		background: url(../assets/img/page-login-bg.png);
	  background-size: cover;
	  background-repeat: no-repeat;
	}
	
	.main-menu{
		height: 98%;
		margin: 0 -16px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		text-align: -webkit-center;
		button{
			margin: 0 0 15px 0;
			height: 10.0rem;
			color: color($colors, light);
			background-color: color($colors, primary-op);
			max-width: 400px;
			&.activated{
				background-color: color($colors, primary);
			}
			ion-label{
				line-height: 47px;
				font-weight: 600;
				font-size: 22px;
				text-align: center;
			}
			ion-icon{
				color: color($colors, primary-light);
    			&.fa{
					font-size: 30px;	
				}
			}
			.item-inner{
				border: none !important;
			}
			&#publicidade{
				background-color: color($colors, cinza);
			}
		}
	}
}
