// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:       rgb(17, 52, 132),
  primary-light: rgb(79, 121, 255),
  primary-op:    rgba(32, 67, 152, 0.8),
  secondary:     rgb(252,183,21),
  secondary-op:     rgba(252,183,21, 0.8),
  danger:        #f53d3d,
  light:         rgb(253, 253, 253),
  light-op:      rgba(253, 253, 253, 0.8),
  dark:          #222,
  dark-op:       rgba(0,0,0, 0.8),
  cinza: 	       #aaa2a7,
  verde:         rgb(2, 114, 59),
);

$text-color:        color($colors, dark);
$background-color:  color($colors, light);

$hairlines-width: 1px;
$list-border-color: #dedede;

$border-settings: 1px solid #dedede;

$segment-button-md-border-bottom-width: 5px;

$font-family-base: "Raleway";
$font-family-md-base : $font-family-base;

$toolbar-md-height: 56px;
$toolbar-ios-height: 56px;

$button-md-text-transform: initial;
$segment-button-wp-text-transform: initial;
$alert-md-button-text-transform: initial;


$fab-size: 40px;
$fab-mini-size: 30px;

@import "ionic.theme.default";

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
@import "font-awesome";
@import "raleway";