<ion-menu [content]="content" persistent="true" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        MENU
        {{(ENV.admin)}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list no-lines>
      <button *ngFor="let m of returnMenu()" ion-item (click)="m.callback()">
        <ion-label>
          <ion-icon class="fa {{ m.icon }}"></ion-icon>
          {{ m.title }}
        </ion-label>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>