  // http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../../node_modules/ionic2-auto-complete/src/auto-complete";

// Hack para remover bloquinho cinza no topo esquerdo
// ion-content{overflow: auto;}
// ::-webkit-scrollbar, *::-webkit-scrollbar {display: none;}

ion-menu{
  ion-list{
    padding: 10px;
    [ion-item]{
      padding-left: 10px;
      .item-inner{
        background-position: right 6px center;
        padding-right: 16px;
        ion-label{
          text-transform: uppercase;
          color: #113484;
          font-size: 16px;
          text-align: left;
          line-height: 28px;
          margin: 7px 8px 7px 0;
          ion-icon{
            margin-right: 10px;
            color: color($colors, primary-light);
            &.fa{
              font-size: 22px;
              height: 28px;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}

/* HEADER */
ion-header{
  ion-title{
      position: absolute;
      width: 100%;
      top: 16px;
      left: 0;
      right: 0;
      padding: 0 20%;
      .fa-exclamation{
        border-radius: 50%;
        color: #fdfdfd;
        background-color: #f53d3d;
        width: 19px;
        height: 19px;
        line-height: 21px;
        font-size: 12px;
        text-align: center;
        margin-left: 5px;
      }
  }
  .toolbar-background{
    background-color: color($colors, primary);
    border: none;
    border-bottom: 3px solid color($colors, primary-light);
  }

  .toolbar-title{
    text-align: center;
    font-weight: 600;
    color: color($colors, light) !important;
    padding: 0 !important;
    img{
      height: 20px;
    }
  }

  button{
    font-size: 1.4em !important;
    &.edit, &.back, &.bars, &.close{
      width: 30px;
    }
    &.edit{
      font-size: 1.5em !important;
    }
    &.back{
      margin-top: -2px;
      img{
        width: 20px;
      }
    }
    &.home{
      color: color($colors, light) !important;
    }
  }
}

.fab {
  ion-icon {
    font-size: 1.8rem !important;
  }
}

/* FOOTER */ 
ion-footer{
  button{
    margin: 0 !important;
    color: color($colors, light) !important;
  }
}

/* PROMPTS */
// ion-alert{
//   .alert-head{
//     padding: 0 !important;
//   }
//   .alert-message{
//     padding-top: 15px !important;
//   }
//   .alert-button-group{
//     justify-content: center !important;
//     button{
//       text-transform: initial !important;
//       background-color: color($colors, secondary) !important;
//       color: color($colors, light) !important;
//       padding: 2px !important;
//     }
//   }
//   .alert-input-group{
//     padding-bottom: 0 !important;
//     padding-left: 40% !important;
//     .alert-input-wrapper{
//       .alert-input{
//         margin: -15px 0 0 0 !important;
//         padding: 0 !important;
//         text-align: right !important;
//         font-size: 5.5rem !important;
//       }
//     }
//   }
// }

.alert-md {
  .alert-wrapper{
    width: 280px;
  }
  .alert-button-group{
    padding: 8px !important;
  }
  .alert-button{
    margin: 0 8px !important;
  }
}

/* MODAL */
ion-modal{
  background-color: rgba(0, 0, 0, 0.6);
  .modal-wrapper{
    opacity: 1 !important;
  }
  .ion-page{    
    ion-title{
      padding: 0 15px !important;
    }
  }
}

ion-searchbar{
  background-color: transparent !important;
  border: 0 !important;
  min-height: 25px;
  padding: 0 16px !important;
  .searchbar-search-icon{
    margin-left: 0 !important; 
    left: 10px !important;
  }
  .searchbar-input-container{
    border: 0 !important;
  }
  input{
    padding-left: 30px !important;
    border-radius: 0 !important;
    border: $border-settings !important;
    box-shadow: none !important;
  }
}

.autocomplete{
  .searchBar{
  
  }
  .filterResults{
    .item{
      border-width: 2px;
      background-color: #fff;
      .item-inner{
          padding: 0 16px !important;
      }
    }
  }
}

/* ION-LISTS */
ion-list{
  ion-list-header{
    padding-left: 0 !important;
    border: 0 !important;
    margin-bottom: 0 !important;
    .item-inner {
      font-weight: bold;
      color: color($colors, primary);
      text-transform: capitalize;
      border-bottom: $border-settings !important;
      button{
        text-transform: initial;
        font-weight: bold;
        padding: 0 0 0 1em;
        ion-icon{
          margin-left: 8px;
        }
      }
    }
  }
  ion-item{
    padding-left: 0 !important;
    .item-inner{
      padding: 0 !important;
    }
  }
  ion-checkbox{
    margin-right: 18px !important;
  }
  button{
    margin-right: 0px !important;    
    /* LISTS BUTTONS */
    &.edit, &.save, &.remove{
      ion-icon{
        font-size: 1.6em;
      }
    }
    &.add{
     ion-icon{
        font-size: 2em;
      } 
    }
  }
  /* BORDER CUSTOM */
  &[border-custom]{ 
    ion-item{
      &:first-child {
        border-top: 0 !important;
        .item-inner {
            border-top: $border-settings !important;
        }
      }
      &:last-child{
        border-bottom: 0 !important;
        .item-inner {
            border-bottom: $border-settings !important;
        }
      }
      .item-inner{
        button{
          margin-left: 15px;
          height: 100%;
          padding: 0;
          min-width: 35px;
          margin: 0 0 0 15px;
        }
      }
    }
  }
}