page-splashscreen {
	ion-content{
		background: url(../assets/img/page-login-bg.png);
	    background-size: cover;
	    background-repeat: no-repeat;
	}
	.logo{
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
		img{
			width: 100%;
			max-width: 500px;
			padding: 0 20px;
		}
	}
	.actions{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		text-align: -webkit-center;
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		padding: 0 20px;
		p{
			margin: 20px 0 !important;
			font-weight: 600;
			color: color($colors, light);
			margin-top: 25px;
			width: 100%;
  		text-align: center;
			display: table;
		  white-space: nowrap;
	    &:before, &:after {
	      border-top: 2px solid color($colors, light);
	      content: '';
	      display: table-cell;
	      position: relative;
	      top: 0.5em;
	      width: 40%;
	      font-size: 90%;
	    }
	    &:before { right: -1.5%; }
	    &:after { left: -1.5%; }
		}
		button{
			width: 100%;
			max-width: 320px;
			span{
				text-transform: uppercase;
				font-size: 90%;
				font-weight: 500;
				text-align: left;
			}
			ion-icon{
				margin-right: 16px;
			}
		}		
	}
}
