<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
	<div class="logo" >
		<img src="assets/img/wisemenu-logo.png" alt="Wisemenu">
	</div>
	<div class="actions">		
		<button ion-button color="secondary-op" (click)="guestRegister()">
			Entrar sem se cadastrar
		</button>
		<button ion-button color="dark-op" (click)="pushPage('RegisterPage')">
			Cadastrar-se
		</button>
		<p>OU</p>
		<button ion-button color="primary-op" (click)="facebookLogin()">
			<ion-icon class="fa fa-2x fa-facebook-square"></ion-icon>
			Entrar com Facebook
		</button>
		<button ion-button color="primary-op" *ngIf="false">
			<ion-icon class="fa fa-2x fa-google"></ion-icon>
			Entrar com Google
		</button>
		<button ion-button color="primary-op" (click)="pushPage('LoginPage')">
			<ion-icon class="fa fa-2x fa-envelope-o"></ion-icon>
			Entrar com seu e-mail
		</button>
	</div>		
</ion-content> 