page-lista {
	ion-list{
		margin-bottom: 0 !important;
		ion-item{
			ion-label{
				h2{
					color: color($colors, secondary);
				}
				p{
					color: color($colors, dark) !important;
					span{
						font-weight: bold;
						font-size: 120%;
						margin-right: 5px;
					}
				}
			}
		}
	}
	.valor{
		font-size: 16px !important;
		margin-right: 5px;
	}

	ion-footer{
		height: 80px !important;
		ion-fab{
			button{
				margin: 0 8px !important;
			}
		}
		.length, .subtotal{		
			background-color: color($colors, light) !important;
			text-align: center;			
		}
		.subtotal{
			button{
				margin-top: 12px !important;
				ion-icon{
					font-size: 20px;
				}
				ion-label{
					font-size: 16px !important;
					span{
						font-weight: bold;							
						font-size: 20px !important;
					}
				}
			}
		}
		.length{
			line-height: 22px;
			font-size: 14px;
		}
	}

}
