<!--
  Generated template for the Lista page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
	      <button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
	    </ion-buttons>
    	<ion-title *ngIf="lista">
    		{{ lista.titulo }}
    		<ion-icon class="fa fa-exclamation" color="danger" *ngIf="up.isDifferent(lista, listaClone)"></ion-icon>
    	</ion-title>
		<ion-buttons end>
			<button class="edit" ion-button (click)="editListaDetalhesModal()"><ion-icon class="fa fa-pencil" color="light"></ion-icon></button>
	    	<button class="back" ion-button navPop>
	    		<img src="assets/img/retornar.png">
	    	</button>
	    </ion-buttons>
  	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list *ngIf="lista" class="lista" border-custom>
		<ion-list-header>
			<ion-label>Lista</ion-label>
			<button class="save" item-right (click)="saveLista()" ion-button clear [disabled]="up.isDifferent(lista, listaClone) ? null : true">
				Salvar lista
				<ion-icon class="fa fa-floppy-o" color="primary"></ion-icon>
			</button>
		</ion-list-header>
		<ion-item *ngFor="let it of lista.itens; let i = index" class="item" (press)="editarItem(it, i)">
			<ion-checkbox (ionChange)="reorderItensLista($event)" color="primary" [(ngModel)]="it.check"></ion-checkbox>
			<ion-label>
				<h2>{{it.produto_id.titulo}}</h2>
				<p><span>{{it.quantidade}}</span>{{it.unidade}}</p>
			</ion-label>
			<button ion-button item-right clear (click)="adicionarValorItem(it)">
				<span class="valor" *ngIf="it.valor">{{ it.valor | number : '1.2-2'}}</span>
				<ion-icon class="fa fa-2x fa-dollar" color="secondary"></ion-icon>
			</button>
			<button ion-button item-right clear (click)="removerItem(it)">
				<ion-icon class="fa fa-2x fa-times" color="secondary"></ion-icon>
			</button>
		</ion-item>
		<ion-item *ngIf="!lista.itens.length">
			<p>Nenhum item na lista!</p>			
		</ion-item>
	</ion-list>
	
</ion-content>

<ion-footer padding-horizontal>
	<div class="subtotal" *ngIf="lista">
		<button ion-button (click)="editarValorTotal()" clear>
			<ion-label color="primary">
				Subtotal: <span>R$ {{ valorLista() | number : '1.2-2' }}</span>
			</ion-label>		
			<ion-icon class="fa fa-pencil" color="primary"></ion-icon>
		</button>
	</div>
	<div class="length" *ngIf="lista">
		<span>{{ lista.itens.length }}</span> 
		<span *ngIf="lista.itens.length > 1 || lista.itens.length == 0">itens</span> 
		<span *ngIf="lista.itens.length == 1">item</span> na lista
	</div>
	<ion-fab right bottom>
		<button ion-fab mini color="primary" (click)="adicionarItem()"><ion-icon class="fa fa-plus"></ion-icon></button>
	</ion-fab>
</ion-footer>