<!--
	Generated template for the ListaNovoItem page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Adicionar item a lista</ion-title>
		<ion-buttons end>
			<button class="close" ion-button (click)="dismiss()"><ion-icon color="light" class="fa fa-times"></ion-icon></button>
		</ion-buttons>    
	</ion-navbar>

</ion-header>

<ion-content *ngIf="itemForm">
	<div ion-item class="autocomplete" padding-horizontal>
		<ion-label stacked>
			Produto <ion-icon *ngIf="!itemForm.titulo" class="fa fa-asterisk" color="danger"></ion-icon>
		</ion-label>
		<ion-input
			[(ngModel)]="searchText"
			class="searchBar"
			placeholder="ex: arroz"
			disabled="{{searchDisabled}}"
			clearInput
			(blur)="blur()"
		  	(input)="search($event)"
		  	>
		</ion-input>
		<ion-icon item-right class="fa fa-search"></ion-icon>
		<ion-spinner item-right class="spinner" *ngIf="searching"></ion-spinner>
	</div>
	<ion-list border-custom class="filterResults" *ngIf="filterResults.length > 0" >
		<ion-item *ngFor="let r of filterResults" (click)="selectItem(r)">
			<span [innerHTML]="r.titulo | boldPrefix:searchText"></span>
		</ion-item>
	</ion-list>	
	<ion-list border-custom *ngIf="itemForm" padding-horizontal>
		<ion-item>
			<ion-label stacked>
				Quantidade
			</ion-label>
			<ion-input placeholder="ex: 200" type="number" [(ngModel)]="itemForm.quantidade"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>
				Unidade	
			</ion-label>
			<ion-select placeholder="ex: g" [(ngModel)]="itemForm.unidade">
				<ion-option value="kg">quilogramas (kg)</ion-option>
					<ion-option value="g">gramas (g)</ion-option>
					<ion-option value="ml">mililitros (ml)</ion-option>
					<ion-option value="l">litros (l)</ion-option>
					<ion-option value="unidade">unidade(s)</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label stacked>
				Valor	
			</ion-label>
			<ion-input type="tel" placeholder="15,00" [(ngModel)]="itemForm.valor"></ion-input>
		</ion-item>
		<ion-item>
			<ion-checkbox [(ngModel)]="itemForm.check"></ion-checkbox>
			<ion-label>
				Marcar item?
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
<ion-footer>
	<button (click)="add(itemForm)" type="submit" ion-button full color="secondary">
		<ion-label>OK</ion-label>
	</button>
</ion-footer>