page-lista-item {
	.autocomplete{
		.fa-search{
			font-size: 1.2em;
		    margin: 0 5px 0 0 !important;
		    position: absolute;
		    left: 16px;
		    bottom: 0;
		}
		.item-inner{
			border: 0 !important;
			padding: 0 !important;
		}
		.spinner{
			position: absolute;
			right: 58px; 
			top: 32px;
			width: 20px;
			height: 20px;
		}
		.searchBar{
			padding: 0 0 0 32px;
			.searchbar-search-icon{
				background-size: 20px;
				width: 21px;
    			height: 21px;
				left: 0px !important; 
			}
		}
	}
	.filterResults{
		position: absolute;
	    top: 66px;
	    z-index: 100;
	    left: 0;
	    width: 100%;
    	ion-item{		    		
	    	ion-label{
				padding-left: 16px;
	    	}
    	}
	}
	form{
		margin-top: 1px;
		button{
			ion-label{
				margin-left: 10px !important;
			}
		}
	}
}
