<!-- Generated template for the FiltroCamposTags component -->
<div *ngIf="tags && tipo && tagsEscolhidas">
	<!-- <tags-escolhidas *ngIf="tagsEscolhidas.length > 0"
		[tags]="tags" 
		[tipo]="tipo"
		[tagsEscolhidas]="tagsEscolhidas"
		(remover)="removerTag($event)"
	>			
	</tags-escolhidas> -->

	<ion-list border-custom>
		<ion-item *ngFor="let t of filterTags(tags, filtro.tags) | filterArray:'tipo':['normal', 'filho']" (click)="adicionarTag(filtro.tags, t, i)" tappable>
			<ion-label>{{ t.titulo }}</ion-label>
			<button ion-button item-right clear><ion-icon class="fa fa-2x fa-plus-circle" color="secondary"></ion-icon></button>
		</ion-item>
	</ion-list>
</div>