admin-table {
	ion-grid{
		&.pre-header{
			
		}
		&.items{
			ion-row{
				border: $border-settings;
				&.header{
					font-weight: bold;
					color: color($colors, dark);
				}
				&.odd{
					background-color: #efefef;
				}
				&:first-child{
					border-top-width: 2px;
				}
				&:last-child{
					border-bottom-width: 2px;
				}
				ion-col{
					&.actions{
						border-left: $border-settings;
					}
				}
			}
		}
		&.pos-footer{
			input{
				text-align: right;
			}
			ion-input{
				border: $border-settings;
			}
		}
	}
}
