<!-- Generated template for the AdminTable component -->
<ion-grid class="pre-header">
	<ion-row>
		<ion-col col-10 class="buttons">
			<button *ngFor="let b of options.buttons" ion-button color="{{b.color}}" (click)="b.callback()">{{ b.label }}&nbsp;<i class="fa {{ b.icon }}"></i></button>
		</ion-col>			
	</ion-row>
</ion-grid>
<ion-grid class="items" *ngIf="items && options">
	<ion-row class="header">
		<ion-col *ngFor="let col of options.cols">
			{{ col.label }}
		</ion-col>
		<ion-col text-center col-1>
			Ações
		</ion-col>
	</ion-row>
	<ion-row class="item" *ngFor="let item of items.docs; let i = index;" [class.odd]="i % 2">
		<ion-col *ngFor="let col of options.cols">
			<strong>{{ item[col.attr] }}</strong>
		</ion-col>
		<ion-col text-center col-1 class="actions">
			<button ion-button small color="primary" (click)="editItemEmit(items.docs[i])">
				<i class="fa fa-pencil"></i>
			</button>
			<button ion-button small color="danger" (click)="removeItemEmit(item)">
				<i class="fa fa-times"></i>
			</button>
		</ion-col>
	</ion-row>
</ion-grid>
<ion-grid *ngIf="items && options" class="pos-footer">		
	<ion-row>
		<ion-col col-10>
			<div class="totals">
				Mostrando: <strong>{{ ((items.page - 1) * items.limit) + 1 }}</strong> 
				à <strong>{{ ((items.page) * items.limit) < items.total ? ((items.page) * items.limit) : items.total }}</strong> 
				de <strong>{{ items.total }}</strong>
			</div>
			<div class="pagination" *ngIf="items">
				<button ion-button *ngFor="let p of pages()" [outline]="outline(p)" (click)="setPageEmit(p)">
					{{ p + 1 }}
				</button>
			</div>
		</ion-col>
		<ion-col col-2 text-right>
			<div class="limit">
				<label for="limit">
					<strong>Resultados por página:</strong>
					<ion-input type="number" name="limit" (change)="setLimitEmit($event)" [(ngModel)]="options.limit"></ion-input>
				</label>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>
