page-admin-receita {
	ion-card img {
		height: 100%;
		width: auto;
		margin: 0 auto;
	}
	ion-list{
		&.tags{
			max-height: 230px;
    	overflow: auto;
    	margin-bottom: 15px;
		}
	}
	ion-input{
		border: 1px solid rgb(169, 169, 169);
		background-color: #fff;
		margin-bottom: 5px;
		.text-input{
			padding-left: 16px;
		}
	}
	ion-label{
		&.bold{
			border-bottom: $border-settings;
			border-width: 2px;
			font-weight: bold;
			padding: 5px 0;
		}
	}
	ion-select{
		padding-right: 16px !important;
		max-width: 100%;
		border: 1px solid darkgray;
    background-color: #fff;
    height: 42px;
    margin-bottom: 5px;
	}
	textarea{
		padding: 11px 8px 11px 16px;
		width: 100%;
	}
	input[type=file]{
		max-width: 220px;
	}
	.col{
		padding: 0 5px
	}
}
