<!--
  Generated template for the AdminReceita page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
    </ion-buttons>
    <ion-title *ngIf="receita">
    	{{receita.titulo}}
    	<ion-icon class="fa fa-exclamation" color="danger" *ngIf="isDifferent()"></ion-icon>
    </ion-title>
  	<ion-buttons end>
			<button class="back" ion-button navPop><img src="assets/img/retornar.png"></button>
		</ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<div *ngIf="receita">
		<ion-grid class="receita">
			<ion-row>
				<ion-col>
					<ion-label class="bold" for="titulo">Titulo:</ion-label>
					<ion-input type="text" [(ngModel)]="receita.titulo"></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-md-8 col-xs-12>
					<ion-row>
						<ion-col>
							<ion-label class="bold">Imagem:</ion-label>
							<div text-center>
								<img *ngIf="receita.icone && receita.icon != ''" src="{{ENV.DOWNLOAD_PATH + receita.icone}}"/>
								<ion-label for="icone">
									<i class="fa fa-upload"></i>&nbsp;
									Upload de imagem (600px x 375px)
								</ion-label>
								<input name="icone" type="file" (change)="uploadImagem($event)" placeholder="Fundo" />
							</div>
						</ion-col>
					</ion-row>
					<ion-row class="modo_de_preparo">
						<ion-col col-12>
							<ion-label class="bold" for="modo_de_preparo">Modo de preparo:</ion-label>
							<textarea [froalaEditor] [(ngModel)]="receita.modo_de_preparo" rows="20"></textarea>
						</ion-col>
					</ion-row>
					<ion-row class="ingredientes">
						<ion-col>
							<ion-label class="bold">
								Ingredientes:
							</ion-label>
							<ion-row>
								<ion-col col-1></ion-col>
								<ion-col><ion-label class="bold">titulo</ion-label></ion-col>
								<ion-col><ion-label class="bold">porção</ion-label></ion-col>
								<ion-col><ion-label class="bold">unidade</ion-label></ion-col>
							</ion-row>
							<ion-row *ngFor="let i of receita.ingredientes; let idx = index">
								<ion-col>
									<ion-input type="text" [(ngModel)]="i.ingrediente"></ion-input>
								</ion-col>
								<ion-col>
									<ion-input type="number" [(ngModel)]="i.porcao"></ion-input>
								</ion-col>
								<ion-col>
									<ion-select [(ngModel)]="i.unidade">
										<ion-option value="g">gramas (g)</ion-option>
										<ion-option value="ml">mililitros (ml)</ion-option>
										<ion-option value="L">litros (l)</ion-option>
										<ion-option value="unidade">unidade(s)</ion-option>
									</ion-select>
								</ion-col>
								<ion-col col-1>
									<button ion-button small color="danger" (click)="removerIngrediente(idx)"><i class="fa fa-times"></i></button>
								</ion-col>
							</ion-row>
							<ion-row>
								<ion-col>
									<button ion-button color="secondary" (click)="adicionarIngrediente()">
										Adicionar linha &nbsp; <i class="fa fa-plus"></i>
									</button>
								</ion-col>
							</ion-row>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col *ngIf="tipo_tags" col-md-4 col-xs-12>
					<div class="tags-normal">						
						<ion-label class="bold">Tags normal:</ion-label>
						<tags-escolhidas 
							*ngIf="filterTipo(receita.tags, 'tipo', ['normal']).length > 0"
							[tagsEscolhidas]="filterTipo(receita.tags, 'tipo', ['normal', 'filho', 'parente'])"
							(remover)="removerTag($event)">			
						</tags-escolhidas>
						<ion-list class="tags">
							<ion-item *ngFor="let t of filterTags(filterTipoTags(tipo_tags, 'normal').tags, receita.tags)" (click)="adicionarTag(receita.tags, t)" tappable>
								<ion-label>{{ t.titulo }}</ion-label>
								<button ion-button item-right clear><ion-icon class="fa fa-2x fa-plus-circle" color="secondary"></ion-icon></button>
							</ion-item>
						</ion-list>
					</div>
					<div class="tags-filho">						
						<ion-label class="bold">Tags filho:</ion-label>
						<tags-escolhidas 
							*ngIf="filterTipo(receita.tags, 'tipo', ['filho']).length > 0"
							[tagsEscolhidas]="filterTipo(receita.tags, 'tipo', ['filho'])"
							(remover)="removerTag($event)">			
						</tags-escolhidas>
						<ion-list class="tags">
							<ion-item *ngFor="let t of filterTags(filterTipoTags(tipo_tags, 'filho').tags, receita.tags)" (click)="adicionarTag(receita.tags, t)" tappable>
								<ion-label>{{ t.titulo }}</ion-label>
								<button ion-button item-right clear><ion-icon class="fa fa-2x fa-plus-circle" color="secondary"></ion-icon></button>
							</ion-item>
						</ion-list>
					</div>
					<div class="tags-nacionalidade">
						<ion-label class="bold">Tags nacionalidade:</ion-label>
						<tags-escolhidas *ngIf="filterTipo(receita.tags, 'tipo', ['nacionalidade']).length > 0"
							[tagsEscolhidas]="filterTipo(receita.tags, 'tipo', ['nacionalidade'])"
							(remover)="removerTag($event)"
						>
						</tags-escolhidas>
						<ion-list class="tags">
							<ion-item *ngFor="let t of filterTags(filterTipoTags(tipo_tags, 'nacionalidade').tags, receita.tags)" (click)="adicionarTag(receita.tags, t)" tappable>
								<ion-label>{{ t.titulo }}</ion-label>
								<button ion-button item-right clear><ion-icon class="fa fa-2x fa-plus-circle" color="secondary"></ion-icon></button>
							</ion-item>
						</ion-list>
					</div>					
					<div class="tags-refeicao">
						<ion-label class="bold">Tags refeição:</ion-label>
						<tags-escolhidas *ngIf="filterTipo(receita.tags, 'tipo', ['refeicao']).length > 0"
							[tagsEscolhidas]="filterTipo(receita.tags, 'tipo', ['refeicao'])"
							(remover)="removerTag($event)"
						>
						</tags-escolhidas>

						<ion-list class="tags">
							<ion-item *ngFor="let t of filterTags(filterTipoTags(tipo_tags, 'refeicao').tags, receita.tags)" (click)="adicionarTag(receita.tags, t)" tappable>
								<ion-label>{{ t.titulo }}</ion-label>
								<button ion-button item-right clear><ion-icon class="fa fa-2x fa-plus-circle" color="secondary"></ion-icon></button>
							</ion-item>
						</ion-list>
					</div>
					<div class="tags-tipo_de_preparo">
						<ion-label class="bold">Tags refeição:</ion-label>
						<tags-escolhidas *ngIf="filterTipo(receita.tags, 'tipo', ['tipo_de_preparo']).length > 0"
							[tagsEscolhidas]="filterTipo(receita.tags, 'tipo', ['tipo_de_preparo'])"
							(remover)="removerTag($event)"
						>
						</tags-escolhidas>

						<ion-list class="tags">
							<ion-item *ngFor="let t of filterTags(filterTipoTags(tipo_tags, 'tipo_de_preparo').tags, receita.tags)" (click)="adicionarTag(receita.tags, t)" tappable>
								<ion-label>{{ t.titulo }}</ion-label>
								<button ion-button item-right clear><ion-icon class="fa fa-2x fa-plus-circle" color="secondary"></ion-icon></button>
							</ion-item>
						</ion-list>
					</div>
					<div class="tags-tempo_de_preparo">
						<ion-label class="bold">Tags tempo de preparo:</ion-label>
						<tags-escolhidas *ngIf="filterTipo(receita.tags, 'tipo', ['tempo_de_preparo']).length > 0"
							[tagsEscolhidas]="filterTipo(receita.tags, 'tipo', ['tempo_de_preparo'])"
							(remover)="removerTag($event)"
						>
						</tags-escolhidas>

						<ion-list class="tags">
							<ion-item *ngFor="let t of filterTags(filterTipoTags(tipo_tags, 'tempo_de_preparo').tags, receita.tags)" (click)="adicionarTag(receita.tags, t)" tappable>
								<ion-label>{{ t.titulo }}</ion-label>
								<button ion-button item-right clear><ion-icon class="fa fa-2x fa-plus-circle" color="secondary"></ion-icon></button>
							</ion-item>
						</ion-list>
					</div>
					<div class="tags-porcao_sugerida">
						<ion-label class="bold">Tags porção sugerida:</ion-label>
						<tags-escolhidas *ngIf="filterTipo(receita.tags, 'tipo', ['porcao_sugerida']).length > 0"
							[tagsEscolhidas]="filterTipo(receita.tags, 'tipo', ['porcao_sugerida'])"
							(remover)="removerTag($event)"
						>
						</tags-escolhidas>

						<ion-list class="tags">
							<ion-item *ngFor="let t of filterTags(filterTipoTags(tipo_tags, 'porcao_sugerida').tags, receita.tags)" (click)="adicionarTag(receita.tags, t)" tappable>
								<ion-label>{{ t.titulo }}</ion-label>
								<button ion-button item-right clear><ion-icon class="fa fa-2x fa-plus-circle" color="secondary"></ion-icon></button>
							</ion-item>
						</ion-list>
					</div>
					<div class="tags-dificuldade">
						<ion-label class="bold">Tags dificuldade:</ion-label>
						<tags-escolhidas *ngIf="filterTipo(receita.tags, 'tipo', ['dificuldade']).length > 0"
							[tagsEscolhidas]="filterTipo(receita.tags, 'tipo', ['dificuldade'])"
							(remover)="removerTag($event)"
						>
						</tags-escolhidas>

						<ion-list class="tags">
							<ion-item *ngFor="let t of filterTags(filterTipoTags(tipo_tags, 'dificuldade').tags, receita.tags)" (click)="adicionarTag(receita.tags, t)" tappable>
								<ion-label>{{ t.titulo }}</ion-label>
								<button ion-button item-right clear><ion-icon class="fa fa-2x fa-plus-circle" color="secondary"></ion-icon></button>
							</ion-item>
						</ion-list>
					</div>
					<div class="tags-tipo_de_prato">
						<ion-label class="bold">Tags tipo de prato:</ion-label>
						<tags-escolhidas *ngIf="filterTipo(receita.tags, 'tipo', ['tipo_de_prato']).length > 0"
							[tagsEscolhidas]="filterTipo(receita.tags, 'tipo', ['tipo_de_prato'])"
							(remover)="removerTag($event)"
						>
						</tags-escolhidas>

						<ion-list class="tags">
							<ion-item *ngFor="let t of filterTags(filterTipoTags(tipo_tags, 'tipo_de_prato').tags, receita.tags)" (click)="adicionarTag(receita.tags, t)" tappable>
								<ion-label>{{ t.titulo }}</ion-label>
								<button ion-button item-right clear><ion-icon class="fa fa-2x fa-plus-circle" color="secondary"></ion-icon></button>
							</ion-item>
						</ion-list>
					</div>
					<div class="tags-avaliacoes">
						<ion-label class="bold">Tags avaliações:</ion-label>
						<tags-escolhidas *ngIf="filterTipo(receita.tags, 'tipo', ['avaliacoes']).length > 0"
							[tagsEscolhidas]="filterTipo(receita.tags, 'tipo', ['avaliacoes'])"
							(remover)="removerTag($event)"
						>
						</tags-escolhidas>

						<ion-list class="tags">
							<ion-item *ngFor="let t of filterTags(filterTipoTags(tipo_tags, 'avaliacoes').tags, receita.tags)" (click)="adicionarTag(receita.tags, t)" tappable>
								<ion-label>{{ t.titulo }}</ion-label>
								<button ion-button item-right clear><ion-icon class="fa fa-2x fa-plus-circle" color="secondary"></ion-icon></button>
							</ion-item>
						</ion-list>
					</div>
				</ion-col>

			</ion-row>
		</ion-grid>
	
	</div>
</ion-content>

<ion-footer>
  <button ion-button color="primary" full (click)="createOrUpdateReceita()">
  	Salvar &nbsp;
  	<i class="fa fa-floppy-o"></i>
	</button>
</ion-footer>