<!--
  Generated template for the CopiarDia page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col col-5>
				<h1>Copiar de:</h1>
				<dia-seletor
				  [modelCardapioDia]="modelCardapioDiaDe" 
				  [cardapioIndex]="cardapioIndexDe" 
				  [cardapio]="cardapio"
				  (copiarDia)="copiarDiaDe($event)">
			  </dia-seletor>
			</ion-col>
			<ion-col col-2 style="display: flex; justify-content: center;">
				<ion-icon style="align-self: center;" class="fa fa-3x fa-angle-right"></ion-icon>
			</ion-col>
			<ion-col col-5>
				<h1>Copiar para:</h1>
				<dia-seletor
				  [modelCardapioDia]="modelCardapioDiaPara" 
				  [cardapioIndex]="cardapioIndexPara" 
				  [cardapio]="cardapio"
				  (copiarDia)="copiarDiaPara($event)">
			  </dia-seletor>
			</ion-col>
		</ion-row>
	</ion-grid>

	<refeicoes-escolhidas 
		[refeicoes]="refeicoes"
		[refeicoesEscolhidas]="refeicoesEscolhidas">		
	</refeicoes-escolhidas>

	<ion-list class="refeicoes" border-custom>
		<ion-item *ngFor="let r of refeicoes; let i = index;" class="refeicao" (click)="copiarRefeicao(r, i)">
			<h2>{{r.titulo}}</h2>
			<ion-icon class="fa fa-plus-circle" item-right color="secondary"></ion-icon>
		</ion-item>		
	</ion-list>

</ion-content>
<ion-footer>
	<ion-grid no-padding>
    <ion-row no-padding class="actions" no-padding *ngIf="cardapio">
      <ion-col no-padding col-6 class="action">
      <button ion-button color="danger" full (click)="dismiss(false)">Cancelar</button>
      </ion-col>
      <ion-col no-padding col-6 class="action">
				<button ion-button color="secondary" full (click)="dismiss(true)">Concluído</button>
      </ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>