page-refeicao-copiar {
	width: 80% !important;
	height: 80% !important;
	left: 10% !important;
	right: 10% !important;
	top: 10% !important;
	bottom: 10% !important;
	ion-list.refeicoes{
		ion-item{
			max-height: 35px !important;
			min-height: 35px !important;
			padding-left: 0 !important;
			.item-inner, .input-wrapper{
				max-height: 35px;
		    	padding-right: 0 !important;
			}
			ion-label{
				margin: 5px 0 !important;
			}
			ion-icon{
				margin: 5px 0 !important;
				font-size: 2.2rem !important;
			}
		}
	}
	h1{
		font-size: 1.6rem !important;
		span{
			font-weight: bold;
		}
	}
}
