<!--
  Generated template for the TagsEscolhidas component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-list padding-vertical *ngIf="tagsEscolhidas">
	<ion-item *ngFor="let t of tagsEscolhidas">
		<ion-label title="{{ t.titulo }}">
			{{ t.titulo }}
		</ion-label>
		<button class="remover" clear ion-button item-right (click)="removerEmit(t)">
			<ion-icon class="fa fa-times" color="secondary"></ion-icon>
		</button>
	</ion-item>
</ion-list>