<!--
  Generated template for the Dicas page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
			<button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
		</ion-buttons>
		<ion-title>Dicas de preparo</ion-title>    
		<ion-buttons end>
			<button class="back" ion-button (click)="rootHome()"><img src="assets/img/retornar.png"></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	Sem dicas!
</ion-content>
