filtro-campos {
	ion-list{
		ion-list-header{
			padding-left: 0 !important;
		}
		margin-bottom: 0 !important;
	}
	ion-item{
		padding-left: 0 !important;
		.item-inner{
			padding: 0 !important;
		}
		&.list-header{
			ion-label{
				font-weight: bold;
			    color: #113484;
			    font-size: 14px;
			}
		}
	}
	.collapsed{
		display: none;
	}
	#toggle{
		.item-block:first-child{
			border-top: 0 !important;	
		}		
	}
	[range-right].fa{
		min-height: 1.4em;
    	font-size: 1.4em;
	}
}
