<!--
  Generated template for the FiltroCampos component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div id="tags-normal" *ngIf="tipo_tags[0].tags.length > 0">
	<ion-item class="list-header" (click)="filtro.collapse[0] = !filtro.collapse[0]" tappable>
		<ion-label>Categoria de alimento</ion-label>
		<button ion-button item-right clear>
			<ion-icon class="fa" [class.fa-chevron-right]="!filtro.collapse[0]" [class.fa-chevron-down]="filtro.collapse[0]" color="secondary"></ion-icon>
		</button>
	</ion-item>

	<div *ngIf="filtro.collapse[0]">

		<tags-escolhidas *ngIf="filterTipo(filtro.tags, 'tipo', ['normal', 'filho']).length > 0"
			[tagsEscolhidas]="filterTipo(filtro.tags, 'tipo', ['normal', 'filho'])"
			(remover)="removerTag($event)"
		>			
		</tags-escolhidas>

		<ion-list border-custom>
			<ion-item *ngFor="let t of filterTags(tipo_tags[0].tags, filtro.tags)" (click)="adicionarTag(filtro.tags, t)" tappable>
				<ion-label>{{ t.titulo }}</ion-label>
				<button ion-button item-right clear><ion-icon class="fa fa-2x fa-plus-circle" color="secondary"></ion-icon></button>
			</ion-item>
		</ion-list>
	</div>
</div>

<div id="tags-nacionalidade" *ngIf="tipo_tags[1].tags.length > 0">
	<ion-item class="list-header" (click)="filtro.collapse[1] = !filtro.collapse[1]" tappable>
		<ion-label>Nacionalidade</ion-label>
		<button ion-button item-right clear>
			<ion-icon class="fa" [class.fa-chevron-right]="!filtro.collapse[1]" [class.fa-chevron-down]="filtro.collapse[1]" color="secondary"></ion-icon>
		</button>
	</ion-item>
	<div *ngIf="filtro.collapse[1]">

		<tags-escolhidas *ngIf="filterTipo(filtro.tags, 'tipo', ['nacionalidade']).length > 0"
			[tagsEscolhidas]="filterTipo(filtro.tags, 'tipo', ['nacionalidade'])"
			(remover)="removerTag($event)"
		>
		</tags-escolhidas>

		<ion-list border-custom>
			<ion-item *ngFor="let t of filterTags(tipo_tags[1].tags, filtro.tags)" (click)="adicionarTag(filtro.tags, t)" tappable>
				<ion-label>{{ t.titulo }}</ion-label>
				<button ion-button item-right clear><ion-icon class="fa fa-2x fa-plus-circle" color="secondary"></ion-icon></button>
			</ion-item>
		</ion-list>
	</div>
</div>