refeicoes-lista {
	ion-list{
		margin-bottom: 0 !important;
		ion-item{
			padding-left: 0 !important;
			&.resumo{
				.item-inner{
					border-bottom: 0 !important
				}
				ion-label{
					margin: 0 !important;
					text-overflow: initial;
    			white-space: initial;
				}
			}
			button{
				margin-right: 8px !important;
			}
			ion-avatar{
				margin: 4px !important;
				max-width: 5.6rem !important;
		 		min-width: 5.6rem !important;
		 		max-height: 5.6rem !important;
		 		min-height: 5.6rem !important;
				border-radius: 0.4rem !important;
				background-color: color($colors, primary) !important;
				img{
					max-width: 5.6rem !important;
					min-width: 5.6rem !important;
					max-height: 5.6rem !important;
					min-height: 5.6rem !important;
				}
			}
			.fa{
				font-size: 16px;	
			}
			ion-label{
				margin-left: 12px !important;
				color: color($colors, primary);
				h2{
					margin: 0 !important;
				}
			}
			.item-inner{
				padding: 0 !important;
				button{					
					margin-right: 0px !important;
				}
			}
		}
	}
}
