<!--
  Generated template for the RefeicoesLista component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-list class="refeicoes" border-custom padding-horizontal>
	<ion-item *ngFor="let r of refeicoes; let i = index;" class="refeicao" (swiperight)="alterarRefeicaoEmit(r, -1)" (swipeleft)="alterarRefeicaoEmit(r, 1)">
		<button ion-button clear item-left (click)="alterarRefeicaoEmit(r, -1)" *ngIf="anteriorIsSet()">
			<ion-icon class="fa fa-chevron-left" color="secondary"></ion-icon>
		</button>
		<ion-avatar item-left (click)="refeicaoPageEmit(r, i)"> 
			<img src="assets/img/refeicoes/{{r.icone}}">
		</ion-avatar>
		<h2 (click)="refeicaoPageEmit(r, i)">{{r.titulo}}</h2>
		<button ion-button clear item-right (click)="alterarRefeicaoEmit(r, 1)" *ngIf="proximoIsSet()">
			<ion-icon class="fa fa-chevron-right" color="secondary"></ion-icon>
		</button>
	</ion-item>
</ion-list>