dia-seletor {
	.dia{
		color: color($colors, cinza);
		text-align: center;
		.buttons{
			display: inline-flex;
			flex-direction: row;
			align-items: center;
			align-content: center;
			text-align: -webkit-center;
			span{
				max-height: 5.6rem !important;
			  min-height: 5.6rem !important;
				&.numero{
					line-height: 5.0rem;
					color: color($colors, dark);
					font-size: 2em;
				}
				&.texto{
					font-weight: 600;
					margin-right: 5px;
					line-height: 5.6rem;
				}
			}			
			button{
				margin: 4px 0 !important;
			  max-height: 5.6rem !important;
			  min-height: 5.6rem !important;
				.fa{
					font-size: 16px;
				}
			}
		}
		.data{
			margin-top: 0;
			font-size: 90%;
			font-weight: 600;
		}
	}
	.seletor{
		border: $border-settings;
    position: absolute;
    width: 90%;
    background: #fff;
    z-index: 10;
    left: 5%;
    top: 95%;
		button{
			border-bottom: $border-settings;
			color: color($colors, cinza);
			margin: 0;
			padding: 20px;
			font-weight: 600;
			text-transform: lowercase;
			&:last-child{
				border-bottom: 0 !important;
			}
		}
	}
}
