<!--
  Generated template for the DiaSeletor component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="dia" (swiperight)="copiarDiaEmit(modelCardapioDia.ordem, -1)" (swipeleft)="copiarDiaEmit(modelCardapioDia.ordem, 1)">
	<div class="buttons">
		<button ion-button clear (click)="copiarDiaEmit(modelCardapioDia.ordem, -1)"><ion-icon class="fa fa-chevron-left" color="secondary"></ion-icon></button>
		<div (click)="toggleSeletor()">			
			<span class="texto">dia</span>
			<span class="numero" *ngIf="cardapioIndex != undefined">{{ (cardapioIndex + 1) }}</span>
			<span class="numero" *ngIf="cardapioIndex == undefined">0</span>
		</div>
		<button ion-button clear (click)="copiarDiaEmit(modelCardapioDia.ordem, 1)"><ion-icon class="fa fa-chevron-right" color="secondary"></ion-icon></button>
	</div>
	<div class="data" (click)="toggleSeletor()">
		<span *ngIf="modelCardapioDia">{{ modelCardapioDia.data | stringToDate | date: "EEEE, d 'de' MMMM"  }}</span>
		<span *ngIf="modelCardapioDia == undefined">{{ hoje | stringToDate | date: "EEEE, d 'de' MMMM"  }}</span>
	</div>
	<button ion-button clear (click)="toggleSeletor()">
		<ion-icon class="fa" [class.fa-chevron-down]="!seletor" [class.fa-chevron-up]="seletor" color="secondary"></ion-icon>
	</button>
	<div class="seletor" *ngIf="seletor">
		<button ion-button *ngFor="let dia of cardapio.dias; let idx = index" clear full (click)="copiarDiaEmit(idx, 0)">
			{{ dia.data | stringToDate | date: "dd/MM"  }}
		</button>
	</div>
</div>