<p tabindex="0">
	<span *ngFor="let i of arr(grau).fill(1)">
  		<ion-icon *ngIf="icone" class="fa {{ icone }}"></ion-icon>
  		<img class="{{image}}" *ngIf="image" src="assets/img/{{image}}.png" />
  	</span>
</p>