<!--
  Generated template for the AdminHome page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
    </ion-buttons>
    <ion-title>
    	Admin
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list>
    <ion-item *ngFor="let m of returnMenu()" (click)="m.callback()">
      <ion-label>
        {{ m.title }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab class="admin" bottom right>
    <button ion-fab color="primary" (click)="rootHome()">
      <ion-icon class="fa fa-home"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
