<!--
	Generated template for the Refeicao page.

	See http://ionicframework.com/docs/v2/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
			<button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
		</ion-buttons>
		<ion-title *ngIf="cardapio">
			{{ cardapio.titulo }}
			<ion-icon class="fa fa-exclamation" color="danger" *ngIf="isDifferent()"></ion-icon>
		</ion-title>
		<ion-buttons end>
			<button class="back" ion-button navPop><img src="assets/img/retornar.png"></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="refeicoes">
	
	<ion-grid padding>
		<ion-row class="actions" *ngIf="false">
			<ion-col col-4 class="action">
				<button ion-button clear id="copiar">
					<ion-label>Copiar<br>refeições</ion-label>
					<ion-icon color="secondary" class="fa fa-copy"></ion-icon>
				</button>
			</ion-col>
			<ion-col col-4 class="action">
				<button ion-button clear id="limpar">
					<ion-label>Limpar<br>receitas</ion-label>
					<ion-icon color="secondary" class="fa fa-eraser"></ion-icon>
				</button>
			</ion-col>
			<ion-col col-4 class="action">
				<button ion-button clear id="resumo">
					<ion-label>Resumo</ion-label>
					<ion-icon class="fa fa-bars"></ion-icon>				
				</button>
			</ion-col>
		</ion-row>
		<ion-row class="seletores">
			<ion-col>
				<dia-seletor
					[modelCardapioDia]="ccp.getModelCardapioDia()" 
					[cardapioIndex]="ccp.getCardapioIndex()" 
					(copiarDia)="copiarDia($event)">
				</dia-seletor>				
			</ion-col>
			<ion-col>
				<refeicao-seletor *ngIf="refeicao && refeicoes"
					[refeicoes]="refeicoes"
					[refeicao]="refeicao" 
					[refeicaoIndex]="ccp.getRefeicaoIndex()" 
					(alterarRefeicao)="alterarRefeicao($event)">
				</refeicao-seletor>				
			</ion-col>			
		</ion-row>
	</ion-grid>

	<receitas-escolhidas *ngIf="cardapio" 
		[refeicaoIndex]="ccp.getRefeicaoIndex()" 
		[modelCardapioDia]="ccp.getModelCardapioDia()" 
		[cardapio]="cardapio">
	</receitas-escolhidas>
	
	<ion-row  padding-horizontal *ngIf="false">
		<ion-col>
			<ion-searchbar
				(ionFocus)="scrollTo(500)" 
				(ionInput)="getReceitas($event)" 
				placeholder="Busca" 
				autocomplete="on" 
				autocorrect="on" 
				animated="false">					
			</ion-searchbar>
		</ion-col>
	</ion-row>
	
	<div class="filter-wrapper" *ngIf="receitas && refeicao">
		<ion-searchbar
			(ionInput)="getReceitas($event)"
			placeholder="Busca"
			autocomplete="on"
			debounce="500"
		>
		</ion-searchbar>

		<div class="receitas" *ngFor="let r of receitas" [ngSwitch]="r.tags.tipo">
			
			<!-- Para tags parentes -->
			<div class="parente" *ngSwitchCase="'parente'">
				<ion-list *ngIf="r.receitas.length" padding border-custom>
					<ion-list-header>
						{{r.tags.titulo}}
					</ion-list-header>
					<ion-item-group *ngFor="let rr of r.receitas">
						<ion-item class="filho" (click)="rr.collapse = !rr.collapse" >
							<ion-label>{{ rr.tags.titulo }} <span>({{rr.receitas.length}})</span></ion-label>
							<button ion-button item-right clear>
								<ion-icon class="fa" [class.fa-chevron-right]="!rr.collapse" [class.fa-chevron-down]="rr.collapse" color="secondary"></ion-icon>
							</button>
						</ion-item>
						<div *ngIf="rr.collapse">
							<ion-item *ngFor="let re of rr.receitas" class="receita">
								<ion-label (click)="adicionarReceita(re)"><h2 class="titulo">{{re.titulo}}</h2> </ion-label>
								<button class="receitaFav" (click)="updateFav(re)" item-right ion-button clear>
									<ion-icon class="fa" [class.fa-star-o]="!re.favorito" [class.fa-star]="re.favorito" color="secondary"></ion-icon>
								</button>
								<button class="receitaModal" (click)="receitaModal(re)" item-right ion-button color="secondary" round>
									<ion-icon class="fa fa-ellipsis-h" color="light"></ion-icon>
								</button>
							</ion-item>
						</div>
					</ion-item-group>
				</ion-list>
			</div>
			
			<div class="normal" *ngSwitchDefault>
				<ion-list *ngIf="r.receitas.length" padding border-custom>
					<ion-list-header (click)="r.collapse = !r.collapse">
						<ion-label>
							{{r.tags.titulo}} <span>({{r.receitas.length}})</span>
						</ion-label>
						<button ion-button item-right clear>
							<ion-icon class="fa" [class.fa-chevron-right]="!r.collapse" [class.fa-chevron-down]="r.collapse" color="secondary"></ion-icon>
						</button>
					</ion-list-header>
					<ion-item-group *ngIf="r.collapse">
						<ion-item *ngFor="let re of r.receitas" class="receita">
							<ion-label (press)="receitaModal(re)" (click)="adicionarReceita(re)"><h2 class="titulo">{{re.titulo}}</h2> </ion-label>
							<button class="receitaFav" (click)="updateFav(re)" item-right ion-button clear>
								<ion-icon class="fa" [class.fa-star-o]="!re.favorito" [class.fa-star]="re.favorito" color="secondary"></ion-icon>
							</button>
							<button class="receitaModal" (click)="receitaModal(re)" item-right ion-button color="secondary" round>
								<ion-icon class="fa fa-ellipsis-h" color="light"></ion-icon>
							</button>
						</ion-item>
					</ion-item-group>
				</ion-list>
			</div>
		</div>
	</div>

</ion-content>