<!--
	Generated template for the Ajuda page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
				<button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
			</ion-buttons>
		<ion-title>Ajuda</ion-title>    
		<ion-buttons end>
			<button class="back" ion-button (click)="rootHome()"><img src="assets/img/retornar.png"></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list border-custom>
		<ion-item-group *ngFor="let aj of ajudas">
			<ion-list-header (click)="aj.collapse = !aj.collapse">
				<ion-label>{{ aj.titulo }}</ion-label>
				<button ion-button item-right clear>
					<ion-icon class="fa" [class.fa-chevron-right]="!aj.collapse" [class.fa-chevron-down]="aj.collapse" color="secondary"></ion-icon>
				</button>
			</ion-list-header>
			<ion-item *ngIf="aj.collapse">
				<p>{{ aj.conteudo }}</p>
			</ion-item>
		</ion-item-group>
	</ion-list>
</ion-content>
