<!--
	Generated template for the Cardapio page.

	See http://ionicframework.com/docs/v2/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
			<button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
		</ion-buttons>
		<ion-title *ngIf="cardapio">
			{{ cardapio.titulo }}
			<ion-icon class="fa fa-exclamation" color="danger" *ngIf="up.isDifferent(cardapio, cardapioClone)"></ion-icon>
		</ion-title>
		<ion-buttons end>
			<button class="edit" ion-button (click)="cardapioDetalhesModal()"><ion-icon class="fa fa-pencil" color="light"></ion-icon></button>
			<button class="back" ion-button (click)="pop()"><img src="assets/img/retornar.png"></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-searchbar
		(ionInput)="searchReceitas($event)"
		placeholder="Busca"
		autocomplete="on"
		debounce="500"
	>
	</ion-searchbar>

	<ion-grid padding-horizontal>    
		<ion-row class="seletores">
			<ion-col>
				<dia-seletor *ngIf="modelRefeicao && refeicoes"
					[modelCardapioDia]="ccp.getModelCardapioDia()"
					[cardapio]="ccp.getCardapio()"
					[cardapioIndex]="ccp.getCardapioIndex()"
					(copiarDia)="copiarDia($event)">
				</dia-seletor>        
			</ion-col>
			<ion-col>
				<refeicao-seletor *ngIf="modelRefeicao && refeicoes"
					[refeicoes]="refeicoes"
					[refeicao]="modelRefeicao"
					[refeicaoIndex]="ccp.getRefeicaoIndex()" 
					(alterarRefeicao)="alterarRefeicao($event)">
				</refeicao-seletor>       
			</ion-col>      
		</ion-row>
	</ion-grid>

	<receitas-escolhidas *ngIf="cardapio" 
		[refeicaoIndex]="ccp.getRefeicaoIndex()" 
		[modelCardapioDia]="ccp.getModelCardapioDia()" 
		[cardapio]="cardapio">
	</receitas-escolhidas>

	<ion-item [class.hide]="true">
		<ion-label class="bold" for="tipo">Ordernar por:</ion-label>
		<ion-select (ionChange)="orderByReceitas($event)" #filtro>
			<!-- <ion-option value="filho">Filho</ion-option> -->
			<ion-option value="normal" checked>Tipo de Alimento</ion-option>
			<ion-option value="tipo_de_preparo">Tipo de Preparo</ion-option>
			<ion-option value="nacionalidade">Nacionalidade</ion-option>
			<ion-option value="tempo_de_preparo">Tempo de Preparo</ion-option>
			<ion-option value="porcao_sugerida">Porção Sugerida</ion-option>
		</ion-select>
	</ion-item>
	
	<div class="filter-wrapper" *ngIf="receitas && modelRefeicao">
		<div class="receitas" *ngFor="let r of receitas" [ngSwitch]="r.tags.tipo">      
			<!-- Para tags parentes -->
			<div class="parente" *ngSwitchCase="'parente'">
				<ion-list *ngIf="r.receitas.length" padding border-custom>
					<ion-list-header>
						{{r.tags.titulo}}
					</ion-list-header>
					<ion-item-group *ngFor="let rr of r.receitas">
						<ion-item class="filho" (click)="rr.collapse = !rr.collapse" >
							<ion-label>{{ rr.tags.titulo }} <span>({{rr.receitas.length}})</span></ion-label>
							<button ion-button item-right clear>
								<ion-icon class="fa" [class.fa-chevron-right]="!rr.collapse" [class.fa-chevron-down]="rr.collapse" color="secondary"></ion-icon>
							</button>
						</ion-item>
						<div *ngIf="rr.collapse">
							<ion-item *ngFor="let re of rr.receitas" class="receita">
								<ion-label (click)="adicionarReceita(re)"><h2 class="titulo">{{re.titulo}}</h2> </ion-label>
								<button class="receitaFav" (click)="updateFav(re)" item-right ion-button clear>
									<ion-icon class="fa" [class.fa-star-o]="!re.favorito" [class.fa-star]="re.favorito" color="secondary"></ion-icon>
								</button>
								<button class="receitaModal" (click)="receitaModal(re)" item-right ion-button color="secondary" round>
									<ion-icon class="fa fa-ellipsis-h" color="light"></ion-icon>
								</button>
							</ion-item>
						</div>
					</ion-item-group>
				</ion-list>
			</div>
			
			<div class="normal" *ngSwitchDefault>
				<ion-list *ngIf="r.receitas.length" padding border-custom>
					<ion-list-header (click)="r.collapse = !r.collapse">
						<ion-label>
							{{r.tags.titulo}} <span>({{r.receitas.length}})</span>
						</ion-label>
						<button ion-button item-right clear>
							<ion-icon class="fa" [class.fa-chevron-right]="!r.collapse" [class.fa-chevron-down]="r.collapse" color="secondary"></ion-icon>
						</button>
					</ion-list-header>
					<ion-item-group *ngIf="r.collapse">
						<ion-item *ngFor="let re of r.receitas" class="receita">
							<ion-label (press)="receitaModal(re)" (click)="adicionarReceita(re)"><h2 class="titulo">{{re.titulo}}</h2> </ion-label>
							<button class="receitaFav" (click)="updateFav(re)" item-right ion-button clear>
								<ion-icon class="fa" [class.fa-star-o]="!re.favorito" [class.fa-star]="re.favorito" color="secondary"></ion-icon>
							</button>
							<button class="receitaModal" (click)="receitaModal(re)" item-right ion-button color="secondary" round>
								<ion-icon class="fa fa-ellipsis-h" color="light"></ion-icon>
							</button>
						</ion-item>
					</ion-item-group>
				</ion-list>
			</div>
		</div>
		<div padding *ngIf="receitas.length === 0">Nenhuma receita encontrada.</div>
	</div>
	
	
</ion-content>
<ion-footer>
	<ion-grid no-padding>
		<ion-row no-padding class="actions" no-padding>
			<ion-col no-padding class="action" *ngIf="cardapio">
				<button ion-button icon-left id="copiar" (click)="modalCopiarDia()" [attr.disabled]="cardapio.diasCounter <= 1 ? true : null">
					<ion-icon color="light" class="fa fa-copy"></ion-icon>
					<ion-label>Copiar<br>refeições</ion-label>
				</button>
			</ion-col>
			<ion-col class="action">
				<button ion-button icon-left color="danger" id="limpar" (click)="limparCardapio()">
					<ion-icon color="light" class="fa fa-eraser"></ion-icon>
					<ion-label>Limpar<br>receitas</ion-label>
				</button>
			</ion-col>
			<ion-col no-padding class="action">
				<button ion-button icon-left color="verde" id="resumo" (click)="alterarFiltros()">
					<ion-icon color="light" class="fa fa-filter"></ion-icon>        
					<ion-label>Alterar<br>Filtros</ion-label>
				</button>
			</ion-col>
		</ion-row>
		<ion-row no-padding>
			<ion-col no-padding col-12 class="action">
				<button ion-button icon-left color="secondary" full (click)="gerarCardapio()">
					<ion-icon class="fa fa-shopping-cart"></ion-icon>
					<ion-label>Gerar lista de compras</ion-label>
				</button>      
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>