page-cardapio {
  ion-searchbar{
    margin: 8px 0;
  }
  .filter-wrapper{
    margin-bottom: 10px;
  }
  .actions{
    .action{
      background-color: color($colors, light);
      text-align: center;
      padding: 0;
      border-radius: 0;
      button {
        border-radius: 0 !important;
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
        height: 4em;
        span{
          ion-icon{
            margin: 0 0 0 15px !important;
            font-size: 18px;
            &.active{color: color($colors, secondary) !important;}
          }
          ion-label{
            margin: 0 15px 0 0 !important;
            font-size: 1.4rem;
            text-transform: none;
            height: 2.4em !important;
          }
        }
      }
    }
  }
  div{
    &.receitas{
      div{
        ion-list{
          margin-bottom: 0 !important;
          padding: 8px 16px !important;
          ion-item{
            border: 0 !important; 
            padding: 0 !important;
            button{
              box-shadow: none !important;
              width: 24px !important;
              height: 24px !important;
              .fa{
                font-size: 16px;
                line-height: 24px;
                &:before{
                  line-height: 24px;
                }
                &.fa-star-o, &.fa-star{
                  font-size: 21px;
                }
              }
            }
            
            &.filho{
              ion-label{
                text-transform: capitalize;
                font-weight: bold;
                span{
                  color: color($colors, primary);
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  ion-footer{
    ion-grid{
      max-width: 720px;
    }
		ion-col{
			margin: 0;
			padding: 0;
		}
		button{
			box-shadow: none !important;
			font-size: 1.4em;
			margin: 0 !important;
			.button-inner{
				//flex-direction:column;
			}
			.fa{
				margin-right: 5px;
			}			
		}
	}
}
