<!--
  Generated template for the AdminReceitas_2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
      <button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
    </ion-buttons>
		<ion-title>
			Receitas
		</ion-title>
		<ion-buttons end>
			<button class="back" ion-button (click)="rootAdminHome()"><img src="assets/img/retornar.png"></button>
		</ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content padding>
	<div padding full style='background-color: #113484; color: #fff; text-align: center'>ORGANIZAR POR</div>
	<div full style='background-color: #113484'>
		<button ion-button full (click)="pushPage('BuscaReceitasPage', 'tipo_de_prato')">TIPO DE PRATO</button>
		<button ion-button full (click)="pushPage('BuscaReceitasPage', 'nacionalidade')">NACIONALIDADE</button>
		<button ion-button full (click)="pushPage('BuscaReceitasPage', 'preparo')">PREPARO</button>
		<button ion-button full (click)="pushPage('BuscaReceitasPage', 'tempo')">TEMPO</button>
		<button ion-button full (click)="pushPage('BuscaReceitasPage', 'dificuldade')">DIFICULDADE</button>
		<button ion-button full (click)="pushPage('BuscaReceitasPage', 'avaliacoes')">AVALIAÇÕES</button>
	</div>
</ion-content>
