<!--
	Generated template for the Listas page.

	See http://ionicframework.com/docs/v2/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar hideBackButton>
		<ion-buttons left>
			<button ion-button menuToggle><ion-icon class="fa fa-bars" color="light"></ion-icon></button>
		</ion-buttons>
		<ion-title>Listas</ion-title>
		<ion-buttons end>
				<button class="back" ion-button (click)="rootHome()"><img src="assets/img/retornar.png"></button>
			</ion-buttons>
		</ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list no-padding border-custom *ngIf="listas">
		<ion-list-header>
			Listas ({{ listas.length }})
			<button class="add" item-right (click)="adicionarLista()" ion-button clear *ngIf="false">
				Nova lista
				<ion-icon class="fa fa-plus-circle" color="primary"></ion-icon>
			</button>
		</ion-list-header>
		<ion-item *ngFor="let l of listas">
			<ion-label (click)="pushListaPage(l)">
				<h2>{{l.titulo}}</h2>
			</ion-label>
			<button *ngIf="false" class="edit" item-right ion-button (click)="editListaDetalhesModal(l)" clear>
				<ion-icon class="fa fa-pencil" color="primary"></ion-icon>
			</button>
			<button class="remove" item-right ion-button (click)="removeLista(l)" clear>
				<ion-icon class="fa fa-times" color="secondary"></ion-icon>
			</button>
		</ion-item>
		<ion-item *ngIf="!listas.length">
			Nenhuma lista criada!
		</ion-item>
		<ion-item *ngIf="guest && listas.length == 1" (click)="registerPage()" tappable>
			<ion-label>
				Visitantes só podem ter uma lista.
				<p>Cadastre-se para ter quantas listas quiser!</p>
			</ion-label>
		</ion-item>
	</ion-list>
	<ion-fab right bottom>
		<button ion-fab mini color="primary" (click)="adicionarLista()"><ion-icon class="fa fa-plus"></ion-icon></button>
	</ion-fab>
</ion-content>
